{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "airbnb-base",
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [".eslintrc.{js,cjs}"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-underscore-dangle": "off"
  },
  "globals": {
    "ApiKeys": true,
    "Mongo": true,
    "Random": true,
    "Package": true,
    "Npm": true,
    "Meteor": true,
    "Accounts": true,
    "Match": true
  }
}
